## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

# Read CSV file from Vacation_Search (WeatherPy_vacation.csv)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,mto wa mbu,TZ,72.30,light rain,-3.3500,35.8500,Fanaka Safaris Campsite & Lodges
1,2,yulara,AU,82.40,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
2,3,faanui,PF,82.13,overcast clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
3,4,hobyo,SO,86.92,broken clouds,5.3505,48.5268,Halane Hotel and Restaurent
4,5,hithadhoo,MV,83.08,few clouds,-0.6000,73.0833,Scoop Guest House

# Create map with markers for all cites selected in Vacation_Search

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

# Pick four cities and make a map with directions layer

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'ballina']
vacation_end   = vacation_df.loc[vacation_df['City'] == 'ballina']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'hervey bay']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'charters towers']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'mount isa']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end   = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}')
print(f'Stop 1: {stop1}')
print(f'Stop 2: {stop2}')
print(f'Stop 3: {stop3}')
print(f'End: {end}')

Start: (-28.8667, 153.5667)
Stop 1: (-25.2986, 152.8535)
Stop 2: (-20.1, 146.2667)
Stop 3: (-20.7333, 139.5)
End: (-28.8667, 153.5667)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

# Use same four cities and make a map with marker layer

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([
    vacation_start,
    vacation_stop1,
    vacation_stop2,
    vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,227,ballina,AU,75.20,broken clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
1,279,hervey bay,AU,80.01,light rain,-25.2986,152.8535,Shelly Bay Resort
2,262,charters towers,AU,84.11,clear sky,-20.1000,146.2667,Cattleman's Rest Motor Inn
3,367,mount isa,AU,95.00,few clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))